html,
body,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.head{
    font-size: 50px;
    font: white;
    text-align: center;
    padding: 10px;
    border: seashell;
}
.parent{
    font-size: 10px;
    display: flex;
    border: solid salmon;
    justify-content: space-around;
    font: white;
    text-align: center;
    width: 90%;
    margin: 30px auto;
    flex-direction: row;
    align-items: center;
    
}
.child{
    border: solid rebeccapurple;
    margin: auto;
    color: white;
    font-size: 5rem;
}
h2{
    margin: 1rem;
}
.px-size{   
    font-size: 50px;
}
.rem-size{
    font-size: 5rem;
}
.em-size{
    font-size: 5em;
}
.child1{
    border: 3px solid green;
}
.child2{
    border: 3px solid yellow;
}   
.child3{
    border: 3px solid blue;
}
.about-text{
    font-size: 5em;
    text-align: center;
    width: 30%;
    margin: auto;
    border: 3px solid rgb(141, 247, 53);
    color: rgb(248, 255, 106);
}
body{
    background-image: url(https://static7.depositphotos.com/1222912/788/i/450/depositphotos_7887354-stock-photo-stars-background-01.jpg);
    background-color: #cccccc;
    background-size: cover;
}
img{
    max-width: 20%;
}
.about-row{
    background-color: blue;
    justify-content: space-between;
    height: 100%;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
}

.about-col{
    background-color: indigo;
    height: 90%;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;
}
.about-img{
    height: 25%;

}
.about{
    height: 100vh;
    background-color: hotpink;
    align-items: center;

}