html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  text-align: center;
  font-family: "Noto Sans Mono", monospace;
}
.button{
  padding: 0%;
  margin: 0%;
  text-align: left;
  font-size: 200%;
}
body {
  background-color: rgb(0, 34, 146);
}

h1 {
  font-size: 5vw;
  margin: auto;
}

h2 {
    font-size: 10em;
}

.starter {
  font-size: 600%;
  padding: 40px;
  align-content: center;
  width: 50%;
  height: auto;
  margin: 30px auto;
  position: relative;
  border: 6px solid black;
  background-color: rgb(219, 34, 222);
}

.outer {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  margin: 2%;
}

.inner {
  background-color: rgb(219, 34, 222);
  border: 8px solid black;
  border-radius: 10%;
  width: 41rem;
  height: 50rem;
  margin: 2%;
  align-content: flex-end;
  box-shadow: 2em 2em 2em;
}

img {
  width: 80%;
  height: 70%;
  margin: 10%;
}
